* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: IosevkaNerdFontPropo, Iosevka, FontAwesome, Roboto, Helvetica, Arial, NotoSansCJK, sans-serif;
    font-size: 14px;
    border-radius: 18px;
}

window#waybar {
    background-color: alpha(#282828,0.75);
    border: 0px solid #ebdbb2;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 18px;
}

button {
    /* Avoid rounded borders under each button name */
    border: 0px solid #ebdbb2;
    color: #ebdbb2;
    border-radius: 18px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    min-width: 18px;
    padding: 0px 8px;
    background-color: transparent;
    color: #ebdbb2;
    margin: 5px 1px;
}

#workspaces button:hover {
    background: alpha(#504945,0.75);
}

#workspaces button.focused {
    background-color: alpha(#ebdbb2,0.75);
    color: #282828;
}

#workspaces button.urgent {
    background-color: alpha(#cc241d,0.75);
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#scratchpad,
#mpd {
    padding: 0px 10px;
    background-color: alpha(#504945,0.75);
    color: #ebdbb2;
    border: 0px solid #ebdbb2;
    margin: 5px 0px;
}

#window,
#workspaces {
    margin: 0px 5px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 8px;
}
.modules-left > widget:last-child > #workspaces {
    margin-left: 8px;
}

.modules-right > widget:first-child > #workspaces {
    margin-right: 8px;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 8px;
}

#clock {
    margin-right: 8px;
}

#battery {
}

#battery.charging, #battery.plugged {
    color: #282828;
    background-color: alpha(#98971a,0.75);
}

@keyframes blink {
    to {
        background-color: alpha(#282828,0.75);
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: alpha(#cc241d,0.75);
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: alpha(#504945,0.75);
}

#cpu {
}

#memory {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: alpha(#665c54,0.75);
    color: #d5c4a1;
}

#pulseaudio {
}

#pulseaudio.muted {
    background-color: alpha(#665c54,0.75);
    color: #d5c4a1;
}

#wireplumber {
}

#wireplumber.muted {
    background-color: alpha(#665c54,0.75);
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#temperature {
}

#temperature.critical {
    background-color: alpha(#cc241d,0.75);
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: alpha(#cc241d,0.75);
}

#mpd {
    background-color: alpha(#98971a,0.75);
    color: #282828;
}

#mpd.disconnected {
    background-color: alpha(#504945,0.75);
    color: #d5c4a1;
}

#mpd.stopped {
    background-color: alpha(#504945,0.75);
    color: #d5c4a1;
}

#mpd.paused {
    background-color: alpha(#cc241d,0.75);
    color: #ebdbb2;
}

#scratchpad {
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0px;
}

#privacy-item {
    padding: 0px 5px;
    color: #ebdbb2;
}

#privacy-item.screenshare {
    background-color: alpha(#cf5700,0.75);
}

#privacy-item.audio-in {
    background-color: alpha(#1ca000,0.75);
}

#privacy-item.audio-out {
    background-color: alpha(#0069d4,0.75);
}
